---
layout: page
---

{{ content }}

<ul class="taxonomy-index">
  {% assign jobsInYear = site.jobs | group_by_exp: 'job', 'job.year' %}
  {% for year in jobsInYear reversed %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy-count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign jobsByYear = site.jobs | group_by_exp: 'job', 'job.year' %}
{% for year in jobsByYear reversed %}
  <section id="{{ year.name }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ year.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for entry in year.items %}
        {% include job-entry.html %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
